<!DOCTYPE html>
<html>
<head>
  <title>Klendar</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <%= csrf_meta_tags %>
  
</head>
<body>
  <div class="container">
      <h1>Reminders</h1>
    <%= yield %>
  </div>

</body>
</html>
